body {
  background-color:#2C2C2C;
  color: white;
}



.jumbotron {
  background-image: url(myAssets/Courtyard.jpg);
  height: 700px;
  color: white;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  
 

}

.header {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40%;
}

.container {
  margin-left:35%;
  
 
}

.message {
  margin-left: 28%;
  margin-top: 10%;
}


.introduction {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.lead {
  font-size: 35px;

}




.folio {
  margin-left: 40%;
}



.resume {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  
}

.about{
  background: #2C2C2C;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
  
}

.img-thumbnail {
  margin-left: 5%;
  border-radius: 100%;
  
}

.linked{
margin-left: 40%;
margin-top: 2%;
}

.card-text {
  font:black;

}





#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border-radius: 0;
  display: block;
  width: 50%;
  padding: 0;
  margin-left: 20%;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 3%
  
 

}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: 1rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid white;
  background-color: black;
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
  font: color black;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: black;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
  font:color black;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
  font: color black
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  margin-left: 30%;
  font: color black;

  
}


 








